{% extends "includes/base.html" %}
{% block title %}Страница поста{% endblock %}
{% block header %}Пост пользователя{% endblock %}
{% load thumbnail %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                {% include "includes/profile_item.html" %}
            </div>
        </div>

        <div class="col-md-9">
            {{ post.text|linebreaksbr }}
            <!-- Пост -->
            {% include "includes/post_item.html" with post=post %}
            {% include "includes/comments.html" %}
        </div>
    </div>
</main>
{% endblock %}