.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

tmp*/

static/
posts/static/
media/
sent_emails/
django_cache/
*.txt
db.sqlite3
