<div id="top-of-site">
{# здесь описана шапка сайта, она повторяется на всех страницах проекта #}
  <img src="images/logo.jpg" alt="Yatube" />
  <div id="site-name">Yatube</div>
</div>

{% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}">
        {% endthumbnail %}
        <h3>
            Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
        <p>{{ post.text }}</p>
<hr>

<div class="card mb-3 mt-1 shadow-sm">
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                    <img class="card-img" src="{{ im.url }}">
                {% endthumbnail %}
                <div class="card-body">
                    <p class="card-text">
                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                        <a href="{% url 'profile' username=user.username %}"><strong
                                class="d-block text-gray-dark">@{{ user.username }}</strong></a>
                        <!-- Текст поста -->
                        {{ post.text }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <!-- Ссылка на страницу записи в атрибуте href-->
                            <a class="btn btn-sm text-muted" href="{% url 'post' username=user.username post_id=post.id %}"
                               role="button">Добавить комментарий</a>
                            <!-- Ссылка на редактирование, показывается только автору записи -->
                            <a class="btn btn-sm text-muted" href="{% url 'post_edit' username=user.username post_id=post.id %}"
                               role="button">Редактировать</a>
                        </div>
                        <!-- Дата публикации  -->
                        <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                    </div>
                </div>
            </div>