{% extends "base.html" %}
{% load user_filters %}
{% block title %}
{% if is_edit %}
    Редактировать запись
{% else %}
    Добавить запись
{% endif %}
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field|addclass:"form-control" }}
        <smal class="form-text text-muted">
            {{ field.help_text|safe }}
        </smal>

        </div>
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="{% if is_edit %}Сохранить{% else %} Добавить {% endif %}">
    </form>
{% endblock %}